##### following documents considered:
#  -  https://www.bsi.bund.de/SharedDocs/Downloads/EN/BSI/Publications/TechGuidelines/TG02102/BSI-TR-02102-4.pdf
#  -  https://tools.ietf.org/id/draft-ietf-curdle-ssh-kex-sha2-09.html
#  -  https://psa-portal.telekom.de/ -- ssh requirements
Port 22
#ListenAddress 0.0.0.0
AddressFamily any
Protocol 2
#Privilege Separation is turned on for security
UsePrivilegeSeparation sandbox
# Lifetime and size of ephemeral version 1 server key
# Logging
SyslogFacility AUTH
LogLevel DEBUG
# Authentication:
PermitRootLogin no
PasswordAuthentication no
PermitEmptyPasswords no	
ChallengeResponseAuthentication no
PermitUserEnvironment no
StrictModes yes
PubkeyAuthentication yes
#AuthorizedKeysFile	/etc/user/%u/key
IgnoreRhosts yes
HostbasedAuthentication no
RhostsRSAAuthentication no
IgnoreUserKnownHosts yes
PermitTunnel no
AllowAgentForwarding no
AllowTcpForwarding no
X11Forwarding no
X11DisplayOffset 10
X11UseLocalhost yes
PrintMotd no
PrintLastLog no
TCPKeepAlive yes
#Subsystem sftp /usr/lib/openssh/sftp-server
UsePAM yes
AllowGroups ssh
# attention: BSI does NOT RECOMMEND to use ssh-rsa or ssh-dss
PubkeyAcceptedKeyTypes    ssh-ed25519,ecdsa-sha2-nistp256,ecdsa-sha2-nistp384,ecdsa-sha2-nistp521,ssh-rsa,ssh-dss
HostbasedAcceptedKeyTypes ssh-ed25519,ecdsa-sha2-nistp256,ecdsa-sha2-nistp384,ecdsa-sha2-nistp521
# kex alg. not supported by ubuntu < 18 (openssh 7.2): diffie-hellman-group14-sha256,diffie-hellman-group16-sha512
KexAlgorithms ecdh-sha2-nistp384,ecdh-sha2-nistp521,diffie-hellman-group-exchange-sha256
Ciphers aes256-ctr
MACs hmac-sha2-512,hmac-sha2-256
ClientAliveCountMax 3
ClientAliveInterval 600
RekeyLimit 1G 1h
GatewayPorts no
MaxAuthTries 4
MaxSessions 10
MaxStartups 10:30:100
